.container {
    position: relative;
    margin: 50px auto;
    padding-bottom: 100px;
}
.arrow {
    position: relative;
    width: 70%;
    height: 1px;
    background-color: var(--text-color);
    margin-bottom: 50px;
    margin-left: 25%;
    transform: translateX(200%);
    animation: moveInHorizon 1s forwards;
}
.arrow::after {
    position: absolute;
    content: "\23F4";
    left: -5px;
    top: -14px;
}
.arrow::before {
    position: absolute;
    content: "our projects";
    font-size: 20px;
    font-family: var(--title-font), sans-serif;
    font-weight: 800;
    left: -150px;
    top: -11px;
    transform: translateX(120%);
    opacity: 0;
    animation: fog .5s 1s forwards, moveInHorizon .5s 1s forwards;
}
.wrapper {
    padding-top: 50px;
}
.project {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px auto;
}
.project:nth-child(2) {
    flex-direction: row-reverse;
}
.project:not(:nth-child(2)) {
    text-align: right;
}
.project:nth-child(1)::after {
    position: absolute;
    content: "";
    width: 80%;
    height: 120%;
    top: -25px;
    left: 0;
    background-color: var(--primary-color);
    z-index: -1;
    opacity: 0;
    animation: fog .5s .5s forwards;
}
.project:nth-child(1)::before {
    position: absolute;
    content: "";
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: var(--primary-color);
    top: -200px;
    left: -50px;
    z-index: -1;
    opacity: 0;
    animation: fog .5s .5s forwards;
}
.project:nth-child(3)::before {
    position: absolute;
    content: "";
    width: 60%;
    height: 120%;
    background-color: var(--primary-color);
    z-index: -1;
    right: 0;
    opacity: 0;
    animation: fog .5s .5s forwards;
}
.image {
    position: relative;
    flex-basis: 65%;
    transition: linear .2s;
    transform: translateX(120%);
    animation: moveInHorizon .5s forwards;
}
.project:nth-child(2) .image{
    transform: translateX(-120%);
}
.image:hover {
    opacity: 0.8;
    transform: scale(.9);
}
.image::after {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%);
    color: var(--background-color);
    font-family: var(--title-font), sans-serif;
    font-weight: 600px;
    font-size: 40px;
    text-shadow: 2px 3px var(--primary-color);
    opacity: 0;
    animation: fog .5s .5s forwards;
}
.project:nth-child(1) .image::after {
    content: "music video";
}
.project:nth-child(2) .image::after {
    content: "television video";
    
}
.project:nth-child(3) .image::after {
    content: "viral video";
}
.content {
    flex-basis: 30%;
    padding: 20px;
    transform: translateX(-120%);
    animation: moveInHorizon .5s forwards
}
.project:nth-child(2) .content {
    transform: translateX(120%);
}
.content p {
    font-size: 18px;
    margin: 20px 0;
}
.content button {
    border: none;
    background-color: transparent;
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 1201px) {
    .content p {
        font-size: 14px;
    }
    .content button {
        font-size: 16px;
    }
}
@media screen and (max-width: 1024px) {
    
}
@media screen and (max-width: 834px) {
    .arrow {
        width: 60%;
        margin-left: 35%
    }
    .project {
        justify-content: flex-end;
    }
    .divide {
        display: none;
    }
    .content {
        padding: auto 0;
    }
    .image::after {
        font-size: 30px;
    }
}
@media screen and (max-width: 620px) {
    .arrow {
        width: 40%;
        margin-left: 50%;
    }
    .project {
        flex-direction: column-reverse;
    }
    .project:nth-child(2) {
        flex-direction: column-reverse;
    }
    .image {
        flex-basis: 100%;
    }
    .image::after {
        font-size: 20px;
    }
    .content {
        flex-basis: 100%;
        text-align: left;
        padding: 0 20px;
    }
    .content p {
        margin: 10px 0;
    }
}

@keyframes moveInHorizon {
    to {
        transform: translateX(0);
    }
}
@keyframes fog {
    to {
        opacity: 1;
    }
}