.container {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    font-size: 20px;
}
.content {
    flex-basis: 85%;
    padding-top: 50px;
}
.content p {
    text-align: right;
}
.arrow {
    position: relative;
    width: 2px;
    height: 300px;
    background-color: var(--text-color);
    margin-top: 50px;
}
.arrow::after {
    position: absolute;
    content: "\25BC";
    bottom: -20px;
    right: -8px;
}
.arrow::before {
    position: absolute;
    content: "about us";
    width: 100px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 800;
    bottom: -90px;
    right: -50px;
    transform: rotate(90deg);
}
@media screen and (max-width: 1024px) {
    .arrow {
        height: 150px;
    }
    p {
        font-size: 14px;
    }
}
@media screen and (max-width: 834px) {
    p {
        font-size: 12px;
    }
}
@media screen and (max-width: 620px) {
    .container {
        padding-right: 20px;
    }
}