.container {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    font-size: 18px;
}
.content {
    flex-basis: 85%;
    padding-top: 50px;
}
.content p {
    text-align: right;
}
.arrow {
    position: relative;
    width: 1px;
    max-height: 500px;
    background-color: var(--text-color);
    margin-top: 50px;
    margin-bottom: 200px;
    opacity: 0;
    transform: translateY(-120%);
    animation: runArrow 1s forwards;
}
.arrow::after {
    position: absolute;
    content: "\23F7";
    bottom: -10px;
    left: -8px;
}
.arrow::before {
    position: absolute;
    content: "about us";
    width: 100px;
    font-family: var(--title-font), sans-serif;
    font-size: 20px;
    font-weight: 800;
    bottom: -90px;
    right: -50px;
    opacity: 0;
    transform: rotate(90deg) translateX(-200%);
    animation: showTitle .5s 1s forwards;
}
@media screen and (max-width: 1024px) {
    
    p {
        font-size: 14px;
    }
}
@media screen and (max-width: 834px) {
    p {
        font-size: 12px;
    }
}
@media screen and (max-width: 620px) {
    .container {
        padding-right: 20px;
    }
    .content p{
        text-align: justify;
    }
}

@keyframes runArrow {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes showTitle {
    to {
        opacity: 1;
        transform: translateX(0) rotate(90deg);
    }
}