/*   
font-family: 'Alata', sans-serif;
font-family: 'Poppins', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Poppins:wght@400;700&display=swap');

:root {
  --text-color: #000000;
  --background-color: #F3EBE0;
  --primary-color: #AD9466;
  --secondary-color: #ECE1D2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  position: relative;
  font-family: 'Alata', sans-serif;
  font-size: 20px;
  color: var(--text-color);
  overflow-x: hidden;
  background-color: var(--background-color);
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1201px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 834px) {
}
@media screen and (max-width: 6200px) {
}
